<div class="row">
  <div class="col-md-2 vertical-title-section">
    <div id="user-title" class="vertical vertical-title">
      <% if @user == current_user %>
        <h1>Me</h1>
      <% end %>
    </div>
  </div>
  
  
  <div class="col-md-8 content-section">
    <div class="well content-well" id="user-content">
  
      <div class="row user-page-header">
        <div class="col-md-2">
          <div class="text-center">
            <%= image_tag @user.profile.avatar.url, class: 'user-show-avatar' %>
          </div>
          <div class="well well-menu-vert">
            <ul class="menu-vert" id="profile-menu">
              <li class="menu-item-dashboard selected-bkgd">Dashboard</li>
              <li class="menu-item-profile">Profile</li>
              <li class="menu-item-account">Account</li>
              <li class="menu-item-inventory">Inventory</li>
              <li class="menu-item-history">History</li>
              <li class="menu-item-contact">Contact me</li>
              <li class="menu-item-team">Team</li>
            </ul>
          </div>
        </div>
        <div class="col-md-10">
          <div id="name-header">
            <h2>
              <strong>
                <%= @user.profile.first_name %>
                <%= @user.profile.last_name %>
              </strong>
            </h2>
            <h3>
              Team <a href="#">Me, myself and I</a>
              in <a href="#">Boston, MA</a>
            </h3>
          </div>
          <div class="profile-menu-items">
            <%= render "dashboard" %>
            <%= render "short_profile" %>
            <%= render "account" %>
            <%= render "inventory" %>
            <%= render "history" %>
            <%= render "contact_me" %>
          </div> <!-- profile menu items -->
        </div>
    
      </div>

    </div>
  </div>
</div>