
<div class="row user-page-header">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag @user.profile.avatar.url, class: 'user-show-avatar' %>
        <br>
        <p class="social-media-group">
          <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
          <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
        </p>
      </div>
      <div class="col-md-9">
        <h1><strong><%= @user.profile.first_name %>
        <%= @user.profile.last_name %></strong></h1>
        <h3><em>Urban explorer on a unicycle</em></h3>
        <div class="well">
          <h3><b>Status:</b> Just chillin'.</h3>
          <i class="fa fa-circle" aria-hidden="true"></i>
          <i class="fa fa-smile-o" aria-hidden="true"></i>
          <i class="fa fa-question-circle" aria-hidden="true"></i>
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3><b>Location:</b> Boston, MA</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d188823.73456277372!2d-71.19724083218203!3d42.3132882526517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3652d0d3d311b%3A0x787cbf240162e8a0!2sBoston%2C+MA!5e0!3m2!1sen!2sus!4v1469077191910" width="350" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="col-md-4">
    <h3><b>Tribe:</b> The Bikesters</h3>
    <p>Mini-feed of last N microposts goes here.</p>
    <a href="#">More</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>About me <%= link_to "edit", edit_user_profile_path(current_user), class: 'btn btn-primary' %></h2>
  
    
    <h3>Description</h3>
    <p><%= @user.profile.description %></p>
    <h3>Stats</h3>
    <ul>
      <li>Biking style(s): commuter, road, mountain</li>
      <li>Years biking: 10</li>
      <li>Miles/km biked: 10</li>
      <li>Avg speed: 10</li>
    </ul>
    
    <h3>Expertise</h3>
    <ul>
      <li>Expert in: bike safety, long-distance bike trips, bike-friendly snacks</li>
      <li>Intermediate in: pedalling</li>
      <li>Beginner in: bike maintenance</li>
    </ul>
    
    <h3>Trips</h3>
    <ul>
      <li>Awesome trip #4</li>
      <li>Awesome trip #3</li>
      <li>Awesome trip #2</li>
      <li>Awesome trip #1</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h2>My activity</h2>
    <div class="well">
      <p>Infinite scroll of micropost activity involving the user.</p>
    </div>
  </div>
  <div class="col-md-4">
    <h2>My inventory <%= link_to "edit", edit_user_profile_path(current_user), class: 'btn btn-primary' %></h2>
        
    <h3>Bike(s)</h3>
    <ul>
      <li>Awesome bike #2</li>
      <li>Awesome bike #1</li>
    </ul>
    
    <h3>Equipment</h3>
    <ul>
      <li>Spare bike helmet</li>
      <li>Bike pump</li>
      <li>Bike lights</li>
    </ul>
    
    <h3>Tools</h3>
    <ul>
      <li>All kinds of bike wrenches</li>
      <li>Bike stand</li>
      <li>Bike tire irons</li>
    </ul>
    
    <h3>Parts</h3>
    <ul>
      <li>Spare tubes</li>
      <li>Spare tires</li>
      <li>Spare bike seat</li>
    </ul>
  </div>
</div>