<div class="row">
  <div class="col-md-2 vertical-title-section">
    <div id="contact-title" class="vertical vertical-title">
      <h1>Contact us</h1>
    </div>
  </div>
  <div class="col-md-4 content-section">
    <div class="well content-well" id="contact-form">
      <%= form_for @contact do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
            
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
            
        <div class="form-group">
          <%= f.label :comments %>
          <%= f.text_area :comments, class: 'form-control' %>
        </div>
        <%= f.submit "Send", class: 'btn btn-green' %>
      <% end %>
    </div>
  </div>
</div>